<div class="container container-top">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/">Home</a></li> <!-- class="active" -->
      <li role="presentation"><a href="/about">About</a></li>
    </ul>
</div>
<br>