<div class="modal fade" tabindex="-1" role="dialog" id="modal-hotelinfo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Nearby Hotels</h2>
      </div>
      <div class="modal-body">
        <ol>
          <li>
            <h3>Comfort Suites San Diego Miramar</h3>
            <h4>
              <p>3‐star hotel</p>
              <p>6 min (1.9 miles) from Reception</p>
            </h4>
            <h5>
              <span><a class="readmore" data-toggle="collapse" data-target="#hotel1-info">Read More <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span></a> | <a target="_blank" href="https://www.choicehotels.com/california/san-diego/comfort-suites-hotels/ca122">Hotel Website</a></span> | <span><a target="map" href="https://www.google.com/maps/place/9880+Mira+Mesa+Blvd,+San+Diego,+CA+92131/@32.9177888,-117.1166957,17z/data=!3m1!4b1!4m2!3m1!1s0x80dbf9175ed77103:0x1bdd71609e524aca">View Map</a></span>

              <br><br>

              <div id="hotel1-info" class="collapse">

                    <p> The classic rooms provide free Wi‐Fi, flat‐screen TVs and desks with ergonomic chairs, as well as minifridges, microwaves and coffeemakers. Studios and 1‐ to 2‐bedroom suites add pull‐out sofas.</p>
                    <p>Hot breakfast and parking are complimentary. There's also an outdoor pool, a hot tub and a fitness room. Other amenities include a business center and relaxed a lounge bar with weekday happy hours.</p>
                    <p>Off I‐15, this modest hotel is 3 miles from both the Flying Leatherneck Aviation Museum and Los Pe&ntilde;asquitos Canyon Preserve.</p>
                    <p>
                     <em>phone:</em> <a href="tel:8585302000">(858) 530‐2000</a><br><br>
                     <em>address:</em> <a href="https://www.google.com/maps/place/9880+Mira+Mesa+Blvd,+San+Diego,+CA+92131/@32.9177888,-117.1166957,17z/data=!3m1!4b1!4m2!3m1!1s0x80dbf9175ed77103:0x1bdd71609e524aca">9880 Mira Mesa Blvd, San Diego, CA 92131</a>
                    </p>
              </div>
          </li>

          <li>
            <h3>Holiday Inn San Diego Miramar ‐ MCAS Area</h3>
            <h4>
              <p>3‐star hotel</p>
              <p>6 mins (1.7 miles from Reception)</p>
            </h4>
            <h5>
              <span><a class="readmore" data-toggle="collapse" data-target="#hotel2-info">Read More <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span></a> | <a target="_blank" href="http://www.ihg.com/holidayinn/hotels/us/en/san‐diego/sanmm/hoteldetail?cm_mmc=GoogleMaps‐_‐hi‐_‐USEN‐_‐sanmm">Hotel Website</a></span> | <span><a target="map"  href="https://www.google.com/maps/place/9335+Kearny+Mesa+Rd,+San+Diego,+CA+92126/@32.8926195,-117.1198706,17z/data=!3m1!4b1!4m2!3m1!1s0x80dbf92cd7fc7823:0x613b4ac2b0d001ed">View Map</a></span>

              <br><br>

              <div id="hotel2-info" class="collapse">

                    <p> The straightforward rooms come with desks and flat‐screen TVs with premium cable, plus minifridges, microwaves and coffeemakers. There's also free WiFi in all units, and kids 19 and under stay free with an adult. Suites add separate living spaces and dining tables.
                    </p>
                    <p>
                      Amenities include an on‐site Chinese restaurant and American cafe (where kids 12 and under eat free), plus an outdoor pool, fitness/business centers and free guest parking. There's also a <b>free local shuttle</b> and a paid airport shuttle.
                      </p>
                    <p>This standard hotel is a 10‐minute drive from Qualcomm Stadium and a 19‐minute drive from Del Mar Fairgrounds.</p>
                    <p>
                     <em>phone:</em> <a href="tel:8586952300">(858) 695‐2300</a><br><br>
                      <em>address:</em> <a href="https://www.google.com/maps/place/9880+Mira+Mesa+Blvd,+San+Diego,+CA+92131/@32.9177888,-117.1166957,17z/data=!3m1!4b1!4m2!3m1!1s0x80dbf9175ed77103:0x1bdd71609e524aca">9880 Mira Mesa Blvd, San Diego, CA 92131</a>
                    </p>
              </div>
          </li>

          <li>
            <h3>Spring Hill Suites San Diego Rancho Bernardo/Scripps Poway</h3>
            <h4>
              <p>2‐star hotel</p>
              <p>9 mins (4.O miles from Reception)</p>
            </h4>
            <h5>
              <span><a class="readmore" data-toggle="collapse" data-target="#hotel3-info">Read More <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span></a> | <a target="_blank" href="http://www.marriott.com/hotels/hotel-photos/sansh-springhill-suites-san-diego-rancho-bernardo-scripps-poway/">Hotel Website</a></span> | <span><a target="map"  href="https://www.google.com/maps/place/12032+Scripps+Highlands+Dr,+San+Diego,+CA+92131/@32.9376194,-117.1114928,17z/data=!3m1!4b1!4m2!3m1!1s0x80dbf9a732526e13:0x5de2be99903a6a43">View Map</a></span>

              <br><br>

              <div id="hotel3-info" class="collapse">

                    <p> The brightly decorated suites feature kitchenettes, sitting areas with pull‐out sofas and free WiFi, as well as iPod docks and flat‐screen TVs. Some have in‐room whirlpool tubs.
                    </p>
                    <p>
                      Freebies include a hot breakfast buffet, coffee in the lobby, <b>local shuttle service</b> (within 7 miles) and parking. An outdoor pool has a sundeck with lounge chairs and a hot tub. Other amenities include a fitness room, business center and meeting space
                      </p>
                    <p>
                      Just off I‐15 and 2.9 miles from Los Peñasquitos Canyon Preserve, this contemporary all‐suite hotel is 4.7 miles from the Flying Leatherneck Aviation Museum.
                    </p>
                    <p>
                     <em>phone:</em> <a href="tel:8586355723">(858) 635‐5723</a><br><br>
                      <em>address:</em> <a href="https://www.google.com/maps/place/12032+Scripps+Highlands+Dr,+San+Diego,+CA+92131/@32.9376194,-117.1114928,17z/data=!3m1!4b1!4m2!3m1!1s0x80dbf9a732526e13:0x5de2be99903a6a43">9880 Mira Mesa Blvd, San Diego, CA 92131</a>
                    </p>
              </div>
          </li>

        </ol>

      </div>
      <div class="modal-footer">
        <a href="/hotels.pdf" target="blank" class="btn btn-default pull-left">View PDF Version of this List</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
