<div class="modal fade" tabindex="-1" role="dialog" id="modal-contact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Contact Us</h2>
      </div>
      <div class="modal-body">
        <p>Feel free to contact us with any questions.</p>
        <p>
          <strong>Caroline &amp; Anthony Grondin:</strong><br>
          <a href="mailto:agrondin@hotmail.com">agrondin@hotmail.com</a>
        </p>
        <p>
          <strong>Sigournee Grondin:</strong><br>
          <a href="mailto:sigourneegrondin@gmail.com">sigourneegrondin@gmail.com</a>
        </p>
        <p>
          <strong>Andrew Grano:</strong><br>
          <a href="mailto:andrewgrano@gmail.com">andrewgrano@gmail.com</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
