<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <% include ./partials/head %>

</head>
<body>

    <% include ./partials/header %>

    <div class="container">

        <div class="col-sm-12">

            <p class="lead">Yo 404!</p>

            <p>This URL does not exist</p>

        </div>

    </div>

    <% include ./partials/footer %>

</body>
</html>
