<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <% include partials/head %>

</head>
<body>

    <!-- 23 and 16 are tall -->
    <section class="engagementPhotos" id="engagmentPhotos">

        <div class="engagementPhotos__intro">
            <h1>Our Engagement Photos</h1>
            <p>These photos were taken in Venice durring our recent trip to Italy in May, soon after we got engaged.</p>
            <p>Thanks to <a href="http://rondinapaolo.wix.com/photography" target="paolo">Paolo Rondina</a> of <a href="http://www.ciclopeproductions.com/" target="ciclope">Ciclope Productions</a> for taking all of the photos and showing us around Venice!</p>
        </div>

        <div><img src="/img/engagement-photos/thumbs/01.jpg" data-number="01" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/02.jpg" data-number="02" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/03.jpg" data-number="03" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/04.jpg" data-number="04" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/05.jpg" data-number="05" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/06.jpg" data-number="06" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/07.jpg" data-number="07" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/08.jpg" data-number="08" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/09.jpg" data-number="09" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/10.jpg" data-number="10" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/11.jpg" data-number="11" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/12.jpg" data-number="12" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/13.jpg" data-number="13" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/14.jpg" data-number="14" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/15.jpg" data-number="15" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/16.jpg" data-number="16" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/17.jpg" data-number="17" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/18.jpg" data-number="18" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/19.jpg" data-number="19" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/20.jpg" data-number="20" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/21.jpg" data-number="21" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/22.jpg" data-number="22" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/23.jpg" data-number="23" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/24.jpg" data-number="24" class="img-responsive thumb"></div>
        <div><img src="/img/engagement-photos/thumbs/25.jpg" data-number="25" class="img-responsive thumb"></div>

        <div class="engagementPhotos__outro">
            <a class="btn btn-ghost btn-backtotop" href=""><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Back to Top</a>
            <a class="btn btn-ghost btn-home" href="../"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Return to Main Page</a>
        </div>
    </section>

    <div class="full" data-number="01">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <img src="/img/engagement-photos/full/01.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="02">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>

        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
        <img src="/img/engagement-photos/full/02.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="03">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/03.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="04">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/04.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="05">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/05.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="06">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/06.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="07">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/07.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="08">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/08.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="09">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/09.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="10">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/10.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="11">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/11.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="12">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/12.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="13">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/13.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="14">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/14.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="15">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/15.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="16">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/16.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="17">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/17.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="18">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/18.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="19">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/19.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="20">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/20.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="21">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/21.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="22">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/22.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="23">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/23.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="24">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/24.jpg" class="img-responsive center-block">
        <span class="right glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </div>
    <div class="full" data-number="25">
        <span class="x glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="left glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            <img src="/img/engagement-photos/full/25.jpg" class="img-responsive center-block">
    </div>

    <!-- <div class="bg-overlay"></div> -->

    <% include partials/footer %>

    <script src="../js/packery.min.js"></script>
    <script>
    $(document).ready(function() {
        var windowHeight = $(window).height();
        $('.full img').css('max-height',windowHeight)

        $('.thumb').on('click',function(){
            var thumbNumb = $(this).attr('data-number');
            //alert(thumbNumb);
            $(this).closest('section').siblings('.full').filter('[data-number="' + thumbNumb + '"]').addClass('active').show();
        });

        $('.full .right').on('click',function(){
            // var thisNumbPlus1 = $(this).parent('.full').attr('data-number');
            // ++thisNumbPlus1;
            $(this).parent('.full').removeClass('active');
            $(this).parent('.full').hide().next().addClass('active').show();
            return false;
        });

        $('.full .left').on('click',function(){
            $(this).parent('.full').removeClass('active');
            $(this).parent('.full').hide().prev().addClass('active').show();
            return false;
        });

        $('.full').on('click',function(){
            $(this).removeClass('active').hide();
        });


        $(document).keydown(function(e) {
            if ( $('.full').is(':visible') ) {
                switch(e.which) {
                    case 37: // left
                    if ( $('.full.active').children('.left').length > 0 ) {
                        $('.full.active').hide().removeClass('active').prev().addClass('active').show();
                    }
                    break;

                    case 39: // right
                    if ( $('.full.active').children('.right').length > 0 ) {
                        $('.full.active').hide().removeClass('active').next().addClass('active').show();
                    }
                    break;

                    case 27: // escape
                    $('.full.active').hide().removeClass('active');
                    break;

                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            };

        });

        // $( ".thumb" ).hover(
        //   function() {
        //     $(this).parent().append( $( "<span>Click to Expand</span>" ) );
        //   }, function() {
        //     $( this ).parent().find( "span:last" ).remove();
        //   }
        // );

        // simple scroll to anchor point
        $('.btn-backtotop').click(function(e) {
          $("html, body").animate({ scrollTop: $('.engagementPhotos').offset().top }, 1000);
          e.preventDefault();
        });
    });
    </script>

</body>
</html>
