<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <% include partials/head %>

</head>
<body>

    <main class="styleguide">

        <div class="container">
            <h1>Groomsmen Style Guide</h1>
        </div>

        <section class="styleguide__item" id="intro">
            <div class="container">

                <div class="row styleguide__intro">
                    <div class="col-md-10">
                        <p>Groomsmen,</p>
                        <br>

                        <p>
                            As you know, your dress code for the wedding day consists of a <b>blue blazer</b>, <b>khaki pants</b>, a <b>white dress shirt</b> and <b> brown dress shoes</b>. (Ties, handkerchiefs, and socks will be provided by me).
                        </p>

                        <p>
                            This style guide is meant to give you as much information as possible about the dress code. I’m not expecting everyone to match perfectly. In fact, I’m hoping for some variations.
                        </p>

                        <p>
                            Each one of you has a different body shape. Each one of you also has a different budget. I am hoping that with the information that I've provided, you can each get an outfit that fits you well and is within your price range. I tried to pick generic items that many of you may already have - or at least can be reused many times in the future.
                        </p>

                        <p>
                            All of the items are available at any price point. Don’t splurge on expensive clothes unless you want to. Feel free to wear cheap stuff, old stuff, borrowed stuff or whatever. Just make sure that each item meets the requirements below.
                        </p>

                        <p>
                            Please read this document carefully and refer to it before purchasing any items. If you have any questions about a specific item, please don't hesitate to contact me.  Have fun and look sharp!
                        </p>

                        <br>

                        <p>
                            Sincerely,<br>
                            The Groom
                        </p>

                        <br>

                        <p>
                            P.S. I want to give a HUGE THANK YOU to my brother and best man, Jared, for helping me create this style guide. <br>
                            I also want to thank each one of you for spending time and money to look good for my wedding. I appreciate it!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="styleguide__item" id="blazer">
            <h2 class="styleguide__sectionHeader">
                <div class="container">
                    Blazer
                </div>
            </h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="styleguide__subsectionHeader">Your blazer must be:</h3>
                        <ul class="styleguide__list">
                            <li>Navy blue</li>
                            <li>Solid color -- no patterns. (But it is OK if the fabric has some texture).</li>
                            <li>Fabric must be wool or a wool blend. (No linen or cotton).</li>
                            <li>Single breasted</li>
                            <li>2 or 3 buttons</li>
                            <li>Must be notch collared -- not peak or shawl.</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="styleguide__subsectionHeader">Notes:</h3>
                        <ul class="styleguide__list">
                            <li>I <b>highly advise</b> that you take your jacket to a tailor. It will look much better on you after being tailored.</li>
                        </ul>
                    </div>
                </div>
                <h3 class="styleguide__subsectionHeader">Examples:</h3>
                <p>These are some examples at various price points. You <b>do not</b> have to purchase one of these, but they should give you a good idea of what I'm looking for.</p>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://www.jcpenney.com/gifts/coats-and-jackets/stafford-hopsack-blazer/prod.jump?ppId=pp5002440092&cmvc=JCP|SearchResults|RICHREL&grView=&eventRootCatId=&currentTabCatId=&regId=&rrplacementtype=item_page.dpcontent1" target="jcpenny">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/blazer-jcp.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">JC Penny</div>
                                    <div class="name">Stafford Executive Hopsack Blazer</div>
                                    <div class="price">$99.99</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www1.macys.com/shop/product/lauren-ralph-lauren-total-comfort-blazer?ID=141429&pla_country=US&CAGPSPN=pla&CAWELAID=120156340000336544&catargetid=120156340001264325&cadevice=c&cm_mmc=Google_Mens_PLA-_-Men%27s+Apparel+-+Lauren+Ralph+Lauren+-+GS_Blazers%2FSportcoats-_-65069000825_-_-_mkwid_asyHu3Ec|dc_65069000825|-|asyHu3Ec" target="macys">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/blazer-macy.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Macy's</div>
                                    <div class="name">Lauren Ralph Lauren "Total Comfort" Blazer</div>
                                    <div class="price">$199.99</div>
                                    <div class="disclaimer">When viewing on their webstore, make sure you click <b>"Navy"</b> color</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.brooksbrothers.com/Wool-Blazer/MD00059,default,pd.html?dwvar_MD00059_Color=NAVY&contentpos=11&cgid=0218" target="brooksbrothers">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/blazer-bb.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Brooks Brothers</div>
                                    <div class="name">Wool Blazer</div>
                                    <div class="price">$448.00</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section class="styleguide__item" id="pants">
            <h2 class="styleguide__sectionHeader">
                <div class="container">
                    Pants
                </div>
            </h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="styleguide__subsectionHeader">Your pants must be:</h3>
                        <ul class="styleguide__list">
                            <li>Khaki -- not khaki colored jeans, cords or cargoes</li>
                            <li>Cotton material</li>
                            <li>Color:  khaki as a color can mean many different things. Please refer to the examples below for color. I'm looking for a <b>medium khaki</b> -- nothing too dark or too light (or too green).</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="styleguide__subsectionHeader">Notes:</h3>
                        <ul class="styleguide__list">
                            <li>I’d prefer flat front, un-cuffed khakis. However, that decision is ultimately up to you.</li>
                            <li>Khakis can have fairly rough of fairly smooth finishes. I’d prefer a fairly smooth finish.</li>
                            <li>I <b>highly advise</b> that you take your pants to a tailor. I can’t overstate the value of having pants tailored to have a perfect break.</li>
                        </ul>
                    </div>
                </div>

                <h3 class="styleguide__subsectionHeader">Examples:</h3>
                <p>These are some examples at various price points. You <b>do not</b> have to purchase one of these, but they should give you a good idea of what I'm looking for.</p>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://www1.macys.com/shop/product/dockers-d1-slim-tapered-fit-alpha-khaki-flat-front-pants?ID=586004&pla_country=US&CAGPSPN=pla&CAWELAID=120156340000463081&catargetid=120156340001418488&cadevice=c&cm_mmc=Google_Mens_PLA-_-Men%27s+Apparel+-+Brands+-+GS_Dockers-_-65069002145_-_-_mkwid_NRj805w5|dc_65069002145|-|NRj805w5%20" target="macys">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/pants-macy.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Macy's</div>
                                    <div class="name">Dockers D1 Khaki Pants</div>
                                    <div class="price">$29.99</div>
                                    <div class="disclaimer">When viewing on their webstore, make sure you click <b>"British Khaki"</b> color</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.gap.com/browse/product.do?pid=142398022&vid=1&locale=en_US&kwid=1&sem=false&sdkw=the-khaki-slim-fit-P142398&sdReferer=http%3A%2F%2Fwww.gap.com%2Fproducts%2Fkhaki-pants-for-men.jsp%20" target="gap">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/pants-gap.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Gap</div>
                                    <div class="name">The Khaki (slim fit)</div>
                                    <div class="price">$59.95</div>
                                    <div class="disclaimer">When viewing on their webstore, make sure you click <b>"Chino Academy"</b> color</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://www.jcrew.com/mens_category/pants/brokeninchinos/PRD~53368/53368.jsp?Nbrd=J&Nloc=en_US&Nrpp=48&Npge=1&Ntrm=chinos&isSaleItem=false&color_name=KHAKI&isFromSearch=true&isNewSearch=true&hash=row11%20" target="jcrew">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/pants-jcrew.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">J Crew</div>
                                    <div class="name">Essential Chino</div>
                                    <div class="price">$75.00</div>
                                    <div class="disclaimer">When viewing on their webstore, make sure you click <b>"British Khaki"</b> color</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="styleguide__item" id="shirt">
            <h2 class="styleguide__sectionHeader">
                <div class="container">
                    Shirt
                </div>
            </h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="styleguide__subsectionHeader">Your shirt must be:</h3>
                        <ul class="styleguide__list">
                            <li>Cotton</li>
                            <li>Solid White -- no stripes, no plaids</li>
                            <li>Dress shirt -- no casual shirts, no tuxedo shirts</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="styleguide__subsectionHeader">Notes:</h3>
                        <ul class="styleguide__list">
                            <li>Shirt can be any standard collar style: point, spread or button</li>
                            <li>I would prefer a button cuff shirt, but you are welcome to wear French cuffs so long as the links/knots are tasteful.</li>
                        </ul>
                    </div>
                </div>

                <h3 class="styleguide__subsectionHeader">Examples:</h3>
                <p>These are some examples at various price points. You <b>do not</b> have to purchase one of these, but they should give you a good idea of what I'm looking for.</p>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://www.target.com/p/men-s-non-iron-regular-fit-button-collar-dress-shirt-merona/-/A-16793564" target="target">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shirt-target.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Target</div>
                                    <div class="name">Merona Button Collar Dress Shirt</div>
                                    <div class="price">$29.99</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.gap.com/browse/product.do?cid=1010524&vid=1&pid=113918002" target="gap">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shirt-gap.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Gap</div>
                                    <div class="name">Solid Oxford Shirt</div>
                                    <div class="price">$49.95</div>
                                    <div class="disclaimer">When viewing on their webstore, make sure you click <b>"White"</b> color</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.brooksbrothers.com/Milano-Fit-Button-Down-Collar-Dress-Shirt/529Q,default,pd.html?dwvar_529Q_Color=BLUE&contentpos=4&cgid=0203" target="brooks-brothers">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shirt-bb.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Brooks Brothers</div>
                                    <div class="name">Button-Down Collar Dress Shirt</div>
                                    <div class="price">$95.00</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section class="styleguide__item" id="shoes">
            <h2 class="styleguide__sectionHeader">
                <div class="container">
                    Shoes
                </div>
            </h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="styleguide__subsectionHeader">Your shoes must be:</h3>
                        <ul class="styleguide__list">
                            <li>Brown leather -- no suede, nubuck, or roughout</li>
                            <li>Dress shoes -- no boat shoes, no leather sneakers, no boots, no moccasins, no hybrid dress shoes.</li>
                            <li>I strongly prefer lace-up dress shoes. If you must wear loafers, please nothing with tassels or metal hardware.</li>
                            <li>Color: The goal is a <b>medium brown</b> leather. If your shoe is very light, very dark, or has a strong red/orange hue, please send me a photo. Please refer to the examples below for color.
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="styleguide__subsectionHeader">Notes:</h3>
                        <ul class="styleguide__list">
                            <li>If you are not sure if your shoe fits the criteria, ask me.</li>
                        </ul>
                    </div>
                </div>

                <h3 class="styleguide__subsectionHeader">Examples:</h3>
                <p>These are some examples at various price points. You <b>do not</b> have to purchase one of these, but they should give you a good idea of what I'm looking for.</p>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="http://www.zappos.com/nunn-bush-norcross-cap-toe-oxford-cognac" target="shoe-a">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shoe-a-nunnbush.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Nunn Bush</div>
                                    <div class="name">Norcross Cap Toe Oxford</div>
                                    <div class="price">$68.00</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.zappos.com/cole-haan-lenox-hill-cap-ox-british-tan" target="shoe-b">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shoe-b-colehaan.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Cole Haan</div>
                                    <div class="name">Lenox Hill Cap Oxford</div>
                                    <div class="price">$139.99</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.zappos.com/johnston-murphy-melton-tan-italian-calfskin" target="shoe-c">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shoe-c-jandm.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Johnston &amp; Murphy</div>
                                    <div class="name">Melton Oxford</div>
                                    <div class="price">$175.00</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.zappos.com/florsheim-classico-cap-ox-cognac" target="shoe-d">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shoe-d-florsheim.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Florsheim</div>
                                    <div class="name">Classico Cap Oxford</div>
                                    <div class="price">$190</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.zappos.com/cole-haan-cambridge-cap-oxford-british-tan" target="shoe-e">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shoe-e-colehaan.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Cole Haan</div>
                                    <div class="name">Cambridge Cap Oxford</div>
                                    <div class="price">$258.00</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.allenedmonds.com/shoes/mens-shoes/dress-shoes/park-avenue-cap-toe-oxfords/SF270.html" target="shoe-f">
                            <div class="card">
                                <div class="card__img">
                                    <img src="../img/groomsmen/shoe-f-ae.jpg" class="img-responsive center-block">
                                </div>
                                <div class="card__content">
                                    <div class="store">Allen Edmonds</div>
                                    <div class="name">Park Avenue Cap-Toe Oxfords</div>
                                    <div class="price">$385.00</div>
                                    <div class="disclaimer">When viewing on their webstore, make sure you click <b>"Walnut Burnished Calf"</b> color</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section class="styleguide__item styleguide__item--accessories" id="accessories">
            <h2 class="styleguide__sectionHeader">
                <div class="container">
                    Accessories
                </div>
            </h2>
            <div class="container">
                <h3 class="styleguide__subsectionHeader">Rules:</h3>
                <ul class="styleguide__list">
                    <li>Brown leather belt is required -- no black belts, fabric belts, or suspenders</li>
                    <li>No hats or sunglasses during the ceremony or photos.</li>
                    <li>No glasses unless prescription</li>
                    <li>No jewelry except a tasteful watch and a single tasteful ring (if you want).
                    <li>Please be groomed and clean!</li>
                </ul>
                <h3 class="styleguide__subsectionHeader">Notes:</h3>
                <ul class="styleguide__list">
                    <li>I will provide ties.  They will be long ties (and I will be wearing a matching bowtie). I will purchase them in 2.5 inch width. They come in other widths, so please tell me ASAP if you want a different width.</li>
                    <li>I will provide socks. If I can't find good superhero socks, then I will get khaki or patterened socks.</li>
                    <li>I will provide white handkerchiefs for breast pocket.</li>
                </ul>
            </div>
        </section>



        <section class="styleguide__item styleguide__item--outro" id="outro">
            <div class="container">

                <h1>In Conclusion...</h1>

                <div class="row styleguide__outro">
                    <div class="col-md-10">
                        <p>The Wedding is on June 25th, 2016. I would like everyone to have their outfits <b>fully compiled</b> by April 25th, 2016. On or around that time, I will be requesting that everyone show me their complete outfit in-person or in a photo.</p>
                        <p>If you arrive on the wedding day wearing an incomplete outfit, or an outfit that does not meet the requirements of this style guide, you will unfortunately <b>not be allowed to join the wedding party</b>.
                        <p>I am 100% available to assist you with any questions! Please don't hesitate to contact me!</p>
                        <p>Thanks again, Groomsmen!!!</p>
                    </div>
                </div>
            </div>
        </section>






    </main>

    <% include partials/footer %>
</body>
</html>
