<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <% include partials/head %>

</head>
<body>

    <section class="hero">
        <div id="hero__Carousel" class="hero__Carousel carousel carousel-fade slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#hero__Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#hero__Carousel" data-slide-to="1"></li>
                <li data-target="#hero__Carousel" data-slide-to="2"></li>
                <li data-target="#hero__Carousel" data-slide-to="3"></li>
                <li data-target="#hero__Carousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/img/heroCarousel-1.jpg" class="hero__Carousel--img img-responsive" alt="Engagement Photo of Andrew and Sigournee in Venice on a gondola">
                </div>
                <div class="item">
                    <img src="/img/heroCarousel-2.jpg" class="hero__Carousel--img img-responsive" alt="Engagement Photo of Andrew and Sigournee in Venice">
                </div>
                <div class="item">
                    <img src="/img/heroCarousel-3.jpg" class="hero__Carousel--img img-responsive" alt="Engagement Photo of Andrew and Sigournee in Venice">
                </div>
                <div class="item">
                    <img src="/img/heroCarousel-4.jpg" class="hero__Carousel--img img-responsive" alt="Engagement Photo of Andrew and Sigournee in Venice">
                </div>
                <div class="item">
                    <img src="/img/heroCarousel-5.jpg" class="hero__Carousel--img img-responsive" alt="Engagement Photo of Andrew and Sigournee in Venice">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#hero__Carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#hero__Carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="hero__footer">
            <div class="container">
                <h1>We're Getting Married!</h1>
            </div>
        </div>
    </section>
    <section class="announce">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <!-- both -->
<!--                     <div data-95p-top-top="top:200px;" data-10p-top-top="top:0;" class="announceMain">
                        <div data-95p-top-top="opacity:1" data-10p-top-top="opacity:0" class="announceMain__cover"></div>
                        <div data-95p-top-top="opacity:0" data-80p-top-top="opacity:1" class="announceMain__text--line1">We are excited to announce the wedding of:</div>
                        <div data-80p-top-top="opacity:0" data-55p-top-top="opacity:1" class="announceMain__text--line2">Sigournee and Andrew</div>
                        <div data-61p-top-top="opacity:0" data-58p-top-top="opacity:1" class="announceMain__text--line3">on June 25th, 2016</div>
                        <div data-58p-top-top="opacity:0" data-55p-top-top="opacity:1" >
                            <div class="announceMain__text--line4">in San Diego,</div>
                            <div class="announceMain__text--line5">CA</div>
                        </div>
                    </div> -->

                    <!-- animate up and fade in -->
                    <div data-95p-top-top="top:200px;" data-10p-top-top="top:0;" class="announceMain">
                        <div data-95p-top-top="opacity:1" data-10p-top-top="opacity:0" class="announceMain__cover"></div>
                        <div class="announceMain__text--line1">We are excited to announce the wedding of:</div>
                        <div class="announceMain__text--line2">Sigournee and Andrew</div>
                        <div class="announceMain__text--line3">on June 25th, 2016</div>
                        <div class="announceMain__text--line4">in San Diego,</div>
                        <div class="announceMain__text--line5">CA</div>
                    </div>

                    <!-- text fade in -->
                    <!-- <div class="announceMain">
                        <div data-95p-top-top="opacity:0" data-80p-top-top="opacity:1" class="announceMain__text--line1">We are excited to announce the wedding of:</div>
                        <div data-80p-top-top="opacity:0" data-55p-top-top="opacity:1" class="announceMain__text--line2">Sigournee and Andrew</div>
                        <div data-61p-top-top="opacity:0" data-58p-top-top="opacity:1" class="announceMain__text--line3">on June 25th, 2016</div>
                        <div data-58p-top-top="opacity:0" data-55p-top-top="opacity:1" >
                            <div class="announceMain__text--line4">in San Diego,</div>
                            <div class="announceMain__text--line5">CA</div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </section>
    <!-- data-0-top-top="background-attachment:initial;" data-0-bottom-bottom="background-attachment:fixed;" -->
    <!-- data-0-top-top="background-attachment:initial;    data-100-bottom-bottom=background-attachment:fixed;-->
    <section class="parallax" data-0-top-top="background-size:120%;background-position:50% top;" data-100-bottom-bottom="background-size:100%;background-position:0% top;">
        <!-- <img src="../img/parallax.jpg" class="img-responsive"> -->
        <!--  -->
        <!-- data-20p-top-top="opacity:0;" data--0p-top-top="opacity:1;" -->
        <div class="parallax__buttonWrapper" data-45p-top-top="opacity:0; top:-200px;" data-25p-top-top="opacity:1;top:0px;">
        <!-- data-0-top-top="position:static;" data--100-top-top="position:fixed;" -->
        <!-- data-20p-top-top="opacity:0;" data--0p-top-top="opacity:1;" -->
            <div class="btn-parallax-container"><a  href="/engagement-photos" class="btn btn-parallax btn-ghost" >View All of Our Engament Photos <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></div>
        </div>
    </section>

    <section class="story">
        <div class="container">
            <h2 class="story__heading">
                <div>Our Story</div>
                <img src="/img/flowers-header.svg" alt="flowers" class="story__flowersImg">
            </h2>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="story__content">
                        <p data--100-bottom-top="opacity:0;" data--300-bottom-top="opacity:1;">We met in High School at the age of 15. Thanks to alphabetical seating in English class, we got to know each other all year. After that, we were inseperable.</p>
                        <p data--100-bottom-top="opacity:0;" data--300-bottom-top="opacity:1;">After graduating High School, we atteneded sepearte Colleges 50 miles apart. With no cars, we often rode the train to visit each other.</p>
                        <p data--100-bottom-top="opacity:0;" data--300-bottom-top="opacity:1;">In year three of College, Andrew decided to change majors (and schools). Sigournee's school offered the  Multimedia program that Andrew was looking for. Andrew moved, and we were no longer far apart.</p>
                        <p data--100-bottom-top="opacity:0;" data--300-bottom-top="opacity:1;">After College, we moved into a tiny studio apartment together. We both worked and saved up enough to eventually move into a more spacious apartment in our favorite area of LA.</p>
                        <p data--100-bottom-top="opacity:0;" data--300-bottom-top="opacity:1;">In the Spring of 2015, we traveled to Italy together. It was a beautiful, romantic trip. We have caught the travel bug and plan on taking many more trips together!</p>
                        <p data--100-bottom-top="opacity:0;" data--300-bottom-top="opacity:1;">From best friends, to high school sweethearts, to roommates, to travel companions, Sigournee and Andrew have been together through life. Now, we are ready to tie the knot and continue our journey as husband and wife.</p>
                    </div>
                    <img class="story__footerImg center-block" src="/img/another-flower.svg">
                </div>
            </div>
        </div>
    </section>
    <section class="spacer">

    </section>

    <% include partials/footer %>

</body>
</html>
