
.engagementPhotos {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    @include display-flex;
    @include flex-direction(row);
    @include  flex-wrap(wrap);

    padding: 50px;

    @include harsh($blush, $mint, $nuance-strength: 20,$angle: random-fixed);
    position: absolute;
    // margin-top: 203px;
    width: 100%;
    // border-top: 5px solid $white;
    z-index: 993;

    @media screen and (max-width: $screen-xs-max) {
        padding: 50px 15px;
    }

    @media screen and (max-width: $screen-xs-min) {
        display: block;
    }


    div {
        // flex: auto;
        @include flex(auto);
        width: 25%;
        padding: 1%;

        @media screen and (max-width: $screen-xs-max) {
            width: 50%;
        }

        @media screen and (max-width: $screen-xs-min) {
            width: 100%
        }


        &:nth-child(4n+2) {
            //flex-grow:2;
            @include flex-grow(2);
            width: 50%;

            @media screen and (max-width: $screen-xs-min) {
                width: 100%;
            }
        }

        &:nth-child(4n+3) {
            margin-top: 50px;

            @media screen and (max-width: $screen-xs-max) {
                margin-top: 0;
            }
        }

        &:nth-child(4n+1) {
            margin-top: -50px;

            @media screen and (max-width: $screen-xs-max) {
                margin-top: 0;
            }
        }

        &:nth-child(4n+4) {
            margin-left: -30px;

            @media screen and (max-width: $screen-xs-max) {
                margin-left: 0;
            }
        }

        &:nth-child(1n+1) {
            margin-right: -30px;

            @media screen and (max-width: $screen-xs-max) {
                margin-right: 0;
            }
        }


        &.engagementPhotos__intro {
            //background: $champagne;
            //@include harsh($champagne, $nuance-strength: 50,$number-of-gradients:15,$angle: random-fixed);
            padding: 0 25px;
            margin: 0;
            text-align: center;
            // border-bottom: 5px solid $white;
            color: #666;
            font-size: 16px;
            // line-height: 1.75;
            // position: fixed;
            // height: 203px;
            // width: 100%;
            //z-index: 992;
            @media screen and (max-width: $screen-md-max) {
                margin-bottom: 45px;
            }

            @media screen and (max-width: $screen-sm-max) {
                //flex-grow: 50;
                @include flex-grow(50);
                padding: 0 25px;
                margin-left: -35px;
            }


            @media screen and (max-width: $screen-xs-max) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 50px;
                padding: 0 100px;
            }

            @media screen and (max-width: $screen-xs-min) {
                padding: 0 25px;
            }



            p {
                margin-bottom: 15px;
            }

            h1 {
                font-family: $font-display;
                font-size: 35px;
                margin: 0 0 20px 0;

                @media screen and (max-width: $screen-sm-max) {
                    padding: 0;
                    font-size: 30px;
                    margin: -10px 0 15px 0;
                }

                @media screen and (max-width: $screen-xs-min) {
                    padding: 0 15px;
                }
            }
        }

        &.engagementPhotos__outro {
            text-align: center;

            .btn {
                font-size: 18px;
                margin-bottom: 15px;
            }

            @media screen and (max-width: $screen-sm-max) {
                font-size: 16px;
            }

            .btn-ghost,
            .btn.btn-ghost {
                background: $gray;

                &:hover,
                &:active,
                &:focus {
                    background: none;
                }
            }

            @media screen and (max-width: $screen-sm-max) {
                flex-grow: 50;
                font-size: 16px;
            }

            @media screen and (max-width: $screen-xs-min) {
                margin-top: 50px;
            }

        }

        img {
            border: 5px solid $champagne;
            border-radius: 10px;
            cursor: pointer;

            @media screen and (max-width: $screen-xs-min) {
                cursor: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

// .full {
//     display: none;
// }

.full {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 996;
    display: none;
    background: rgba(255,255,255,0.9);
    padding: 0 50px;

    @media screen and (max-width: $screen-xs-min) {
        display: none !important;
    }

    img {
        padding-top: 3%;
        padding-bottom: 3%;
        position: relative;
        z-index: 997;
        // border: 5px solid $champagne;
        // border-radius: 10px;

        @media screen and (max-width: $screen-md-min) and (min-height: 900px) {
            padding-top: 25%;
        }


    }

    .left,
    .right,
    .x {
        position: fixed;
        font-size: 55px;
        color: $gray;
        cursor: pointer;
        text-shadow: 0px 0px 1px #000000;
    }

    .left {
        left: 0px;
        top: 45%;

        @media screen and (max-width: $screen-md-min) {
            top: 38%;
        }

        @media screen and (max-width: $screen-md-min) and (max-height: 900px) {
            top: 300px
        }
    }

    .right {
        right: 0px;
        top: 45%;

        @media screen and (max-width: $screen-md-min) {
            top: 38%;
        }

        @media screen and (max-width: $screen-md-min) and (max-height: 900px) {
            top: 300px
        }
    }

    .x {
        top: 10px;
        right: 15px;
        font-size: 35px;
        color: $white;
    }

}

// .bg-overlay {
//     background: rgba(255,255,255,0.75);
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     position: fixed;
//     z-index: 995;
//     display: none;
// }
