body,
html {
    height: 100%;
}

.hero {
    position: relative;
    z-index: 10;

    &__callout {
        position: absolute;
        z-index: 3;
        width: 100%;
        text-align: center;
        top: 35px;

        h1 {
            font-family: $font-display;
            font-size: 67px;
            margin: 0;
            // color: rgba(255, 255, 255, 0.85);
            color: $white;
            text-shadow: 0px 0px 10px rgba(0,0,0,0.5);


            @media screen and (max-width: $screen-sm-max) {
                font-size: 36px;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 30px;
            }

            @media screen and (max-width: $screen-xs-min) {
                font-size: 25px;
            }
        }

    }

    .carousel-inner {
        img {
            @media screen and (min-width: 1400px) {
                width: 100%;
            }
        }
    }

    .carousel-control {
        display: none;
    }

    .carousel-indicators {
        bottom: -100px;

        @media screen and (max-width: $screen-sm-max) {
            bottom: -85px;
        }

        @media screen and (max-width: $screen-xs-max) {
            bottom: -80px;
        }

        @media screen and (max-width: $screen-xs-min) {
            bottom: -72px;
        }

        li {
            border: 0 none;
            background: $champagne;
            margin: 0 3px;
            position: relative;
            width: 13px;
            height: 13px;

            &:first-child:before,
            &:last-child:before {
                content: " ";
                display: block;
                position: absolute;
                width: 40px;
                height: 11px;
                cursor: default;
                background: url(../img/heroIndicator--sprite.svg);

                @media screen and (max-width: $screen-sm-max) {
                    margin-top: 5px;
                }
            }

            &:first-child:before {
                left: -50px;
            }

             &:last-child:before {
                background-position: -41px 0;
                right: -50px;
            }

        }

        .active {
            width: 13px;
            height: 13px;
            background: $gray;
        }

    }

    &__footer {
        position: relative;

        &:before {
            content: " ";
            height: 2px;
            width: 100%;
            background: $champagne;
            position: absolute;
            top: -4px;
            left: 0;
        }

        background: $mint;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 45px;

        @media screen and (max-width: $screen-sm-max) {
            padding-bottom: 35px;
        }

        h1 {
            font-family: $font-display;
            font-size: 42px;
            margin: 0;

            @media screen and (max-width: $screen-sm-max) {
                font-size: 36px;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 30px;
            }

            @media screen and (max-width: $screen-xs-min) {
                font-size: 25px;
            }
        }
    }
}


.announce {
    background: $champagne;
    padding: 95px 0 75px;
    position: relative;
    z-index: 9999;

    @media screen and (max-width: $screen-md-max) {
        padding-bottom: 125px;
    }

    @media screen and (max-width: $screen-sm-max) {
        padding-bottom: 75px;
    }

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &.navigation--sticky {
            position: fixed;

            @media screen and (max-width: $screen-xs-max) {
                position: fixed;
                right: 0;
                left: inherit;
                display: inline-block;
                width: auto;
                border: 0;
            }
        }

        &.navigation--isOpen {
            width: 100%;
            background: $champagne;
        }
    }

    &Main {
        background-image: url(../img/heart.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        text-align: center;
        height: 726px;
        font-size: 1em;

        @media screen and (max-width: $screen-md-max) {
            font-size: 0.8em;
            height: 600px
        }

        @media screen and (max-width: $screen-sm-max) {
            height: 580;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 0.6em;
            background-size: 392px;
            background-position: top center;
            height: 385px;
        }

        @media screen and (max-width: $screen-xs-min) {
            background-size: 315px;
            height: 310px;
            font-size: 0.51em;
            margin-left: -15px;
            margin-right: -15px;
        }

        &__cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: $champagne;
            opacity: 0;

            @media screen and (max-width: $screen-xs-max) {
                display: none;
            }
        }

        [class^="announceMain__text"] {
            margin-bottom: 25px;

            @media screen and (max-width: $screen-xs-max) {
                margin-bottom: 15px;
                padding-left: 10px;
            }

            @media screen and (max-width: $screen-xs-min) {
                margin-bottom: 10px;
                padding-left: 5px;
            }
        }

        .announceMain__text {

            &--line1 {
                font-size: em(20);
                margin-bottom: 10px;
                padding-top: 228px;

                @media screen and (max-width: $screen-md-max) {
                    padding-top: 185px;
                }

                @media screen and (max-width: $screen-sm-max) {
                    padding-top: 177px;
                }

                @media screen and (max-width: $screen-xs-max) {
                    padding-top: 115px;
                    margin-bottom: 2px;
                }

                @media screen and (max-width: $screen-xs-min) {
                    padding-top: 91px;
                    margin-top: -1px;
                }

            }

            &--line2 {
                font-size: em(40);
                font-weight: 700;

                @media screen and (max-width: $screen-xs-min) {
                    margin-bottom: 5px;
                }
            }

            &--line3,
            &--line4,
            &--line5 {
                font-size: em(26);
            }
        }

        .announce__name {
            display: inline-block;

            em {
                display: block;
                font-style: normal;
                font-size: em(14);
                margin-top: -10px;

                @media screen and (max-width: $screen-xs-max) {
                    margin-top: -5px;
                }
            }
        }

        .announce__amp {
            margin: -25px 10px 0;
            width: 50px;

            @media screen and (max-width: $screen-xs-max) {
                width: 25px;
                margin: -17px 7px 0;
            }

            @media screen and (max-width: $screen-xs-min) {
                width: 15px;
                margin: -17px 5px 0;
            }
        }
    }
}

.eventinfo {
    background: $blush;
    padding: 100px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 10;

    @media screen and (max-width: $screen-xs-max) {
        padding: 65px 0 50px;
    }

    &Item {
        margin-bottom: 75px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        position: relative;

        @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 50px;
        }

        &--ceremony {

        }

        &--reception {
            @media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min){
                margin-top: 175px;
            }
        }

        &--brunch {
            @media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min){
                margin-top: 350px;
            }
        }

        [class^="eventinfoItem__decor"] {
            position: absolute;
            width: 35px;
            height: 85px;
            bottom: 10px;
        }

        .eventinfoItem__decor--right {
            right: -50px;

            @media screen and (max-width: $screen-md-max) {
                right: -30px;
            }

            @media screen and (max-width: $screen-xs-min) {
                right: -30px;
            }
        }

        .eventinfoItem__decor--left {
            left: -50px;


            @media screen and (max-width: $screen-md-max) {
                left: -30px;
            }


            @media screen and (max-width: $screen-xs-min) {
                left: -30px;
            }
        }

        &__title {
            font-family: $font-display;
            font-size: 42px;
            margin: 0 0 5px 0;

            @media screen and (max-width: $screen-sm-max) {
                font-size: 36px;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 30px;
            }

            @media screen and (max-width: $screen-xs-min) {
                font-size: 25px;
            }

        }

        &__subtitle {
            font-family: $font-display;
            font-size: 24px;
            margin: 0 0 15px 0;


            @media screen and (max-width: $screen-sm-max) {
                font-size: 22px;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 20px;
            }

            @media screen and (max-width: $screen-xs-min) {
                font-size: 18px;
            }

        }

        &__address {
            font-size: 16px;
            line-height: 1.8;
        }

        &__link {
            cursor: pointer;
            text-decoration: underline;
            color: #333;
            font-size: 16px;
        }

        &__breakerImg {
            width: 150px;
            margin: -15px auto;
        }

    }

    &Item--callout {
        margin: 50px 0;
        display: block;
        width: 100%;

        @media screen and (max-width: $screen-xs-max) {
            margin: 40px 0;
        }

        .eventinfoItem__subtitle {
            margin-bottom: 10px;
        }
    }
}

.transportation {
    background: $peach;
    padding: 100px 0;
    text-align: center;
    position: relative;
    z-index: 10;



    @media screen and (max-width: $screen-xs-max) {
        padding: 60px 0;
    }

    @media screen and (max-width: $screen-xs-min) {
        padding: 45px 0;
    }

    h2 {
        font-family: $font-display;
        font-size: 42px;
        margin: 0 0 45px 0;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 36px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 30px;
        }

        @media screen and (max-width: $screen-xs-min) {
            font-size: 25px;
        }
    }

    &__main {
        font-size: 22px;

        @media screen and (max-width: $screen-md-max) {
            font-size: 20px;
        }

        @media screen and (max-width: $screen-sm-max) {
            font-size: 18px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 16px;
        }

        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.hotels {
    padding: 100px 0;
    background: $mint;
    position: relative;
    z-index: 10;

    @media screen and (max-width: $screen-xs-max) {
        padding: 60px 0;
    }

    @media screen and (max-width: $screen-xs-min) {
        padding: 45px 0;
    }


    h2 {
        font-family: $font-display;
        font-size: 42px;
        margin: 0 0 45px 0;
        text-align: center;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 36px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 30px;
        }

        @media screen and (max-width: $screen-xs-min) {
            font-size: 25px;
        }
    }

    .hotelCard {
        background: $champagne;
        padding: 30px 20px;
        margin-bottom: 35px;
        position: relative;

        @media screen and (max-width: $screen-xs-max) {
            width: 320px;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (max-width: $screen-xs-min) {
            width: 290px;
        }

        &__name {
            font-weight: 700;
            margin: 0 0 20px 0;

            @media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min ) {
                font-size: 22px;
            }

            @media screen and (max-width: $screen-xs-min) {
                font-size: 21px;
            }
        }

        &__distance {
            margin: 0 0 5px 0;

            @media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min ) {
                font-size: 17px;
            }

            @media screen and (max-width: $screen-xs-min) {
                font-size: 17px;
            }
        }

        &__rating {
            margin: 0 0 20px 0;
            font-size: 16px;

            &-text {
                margin-right: 5px;
            }

            .glyphicon {
                font-size: 13px;
                position: relative;
                top: -1px;
                color: $peach;
            }
        }

        &__address {
            margin-bottom: 10px;

            a {
                color: $black;
            }
        }

        &__phone {
            margin-bottom: 15px;

            a {
                color: $black;
            }
        }

        &__link {
            display: inline-block;
            border: 1px solid $black;
            padding: 2px 5px;

            @media screen and (max-width: $screen-md-max) {
                padding: 5px 15px
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 16px;
                margin-top: 10px;
            }

            .glyphicon {
                font-size: 12px;
                position: relative;
                top: 1px;
            }

            a {
                color: $black;
            }

        }



        &__discount {
            position: absolute;
            background: $peach;
            bottom: 30px;
            right: 25px;
            width: 95px;
            height: 90px;
            font-weight: 700;
            text-align: center;
            padding: 20px 10px;
            border-radius: 80px;
            line-height: 1.2;

            @media screen and (max-width: $screen-xs-min) {
                right: 15px;
            }
        }
    }
}


.registry {
    background: $blush;
    padding: 100px 0;
    text-align: center;
    position: relative;
    z-index: 10;

    @media screen and (max-width: $screen-xs-max) {
        padding: 60px 0;
    }

    @media screen and (max-width: $screen-xs-min) {
        padding: 45px 0;
    }

    h2 {
        font-family: $font-display;
        font-size: 42px;
        margin: 0 0 45px 0;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 36px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 30px;
        }

        @media screen and (max-width: $screen-xs-min) {
            font-size: 25px;
        }
    }

    &__main {
        font-size: 22px;

        @media screen and (max-width: $screen-md-max) {
            font-size: 20px;
        }

        @media screen and (max-width: $screen-sm-max) {
            font-size: 18px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 16px;
        }

        @media screen and (max-width: 322px) {
            padding: 0 5px;
        }

        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    a.btn {
        font-size: 36px;
        margin-top: 25px;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 29px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 24px;
        }


        @media screen and (max-width: $screen-xs-min) {
            font-size: 18px;
        }
    }

}


.parallax {
    background: url(../img/parallax.jpg);
    // background-attachment: fixed;
    background-size:100%;
    background-repeat: no-repeat;
    background-color: $mint;
    text-align: center;
    position: relative;
    height: 400px;
    width: 100%;
    z-index: 10;

    // @media(max-width:900px) {
    //     background-size: 200px;
    // }

    @media screen and (max-width: $screen-sm-max) {
        height: 422px;
    }

    @media screen and (max-width: $screen-xs-max) {
        height: 303px;
    }

    @media screen and (max-width: $screen-xs-min) {
        height: 205px;
    }

    // a.btn-parallax {
    //     font-family: $font-display;
    //     font-size: 36px;
    //     font-weight: 700;
    //     border: 3px solid;
    //     color: $white;
    //     position: relative;
    //     top: 100px;
    //     z-index: 1;
    // }

    .parallax__buttonWrapper {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .btn-parallax-container {
        position: absolute;
        top: 220px;
        width: 100%;
        z-index: 1;

        @media screen and (max-width: $screen-xs-max) {
            top: 150px;
        }

        @media screen and (max-width: $screen-xs-min) {
            top: 80px;
        }
    }

    a.btn-parallax {
        font-size: 36px;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 29px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 24px;
        }


        @media screen and (max-width: $screen-xs-min) {
            font-size: 18px;
        }
    }
}

.photos {
    height: 100%;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: $screen-xs-max) {
        height: 427px;
    }

    @media screen and (max-width: $screen-xs-min) {
        height: 355px;
    }

    .btn-photos-wrapper {
        width: 100%;
        text-align: center;
        position: fixed;
        top: 40%;
        z-index: 3;

        @media screen and (max-width: $screen-sm-max) {
            position: absolute;
            top: 45%;
        }

        @media screen and (max-width: $screen-xs-max) {
            top: 160px;
        }
    }
    .btn-ghost {
        font-size: 36px;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 29px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 24px;
            background: rgba(0,0,0,0.5);
        }


        @media screen and (max-width: $screen-xs-min) {
            font-size: 18px;
        }


    }

    > div {

        @include display-flex;
        @include flex-direction(row);
        @include  flex-wrap(wrap);

    }



    &__grid {
        @include flex(auto);
        width: 33%;
        position: relative;
        z-index: 1;

        &:before{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.3);
            z-index: 2;
            @include transition-property(background);
            @include transition-duration(0.4s);
            @include transition-timing-function(linear);
        }

        &:hover:before {
            background: rgba(0,0,0,0.0);
        }

        // img {
        //     @include transition-property(height,width,margin);
        //     @include transition-duration(1s);
        //     @include transition-timing-function(linear);
        //     margin: 0;
        // }

        // &:hover {
        //     img {
        //         margin: -5% 0 0 -5%;
        //         width: 150%;
        //         height: 150%;
        //         max-width: 150%;
        //     }
        // }
    }

}



.story {
    background: $peach;
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 150px 0;

    @media screen and (max-width: $screen-sm-max) {
        padding: 75px 0;
    }

    @media screen and (max-width: $screen-xs-max) {
        padding: 50px 0;
    }

    &__heading {
        margin: 0;
        font-size: 40px;
        color: $champagne;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 32px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 25px;
        }

        & img {
            width: 350px;

            @media screen and (max-width: $screen-sm-max) {
                width: 300px;
            }

            @media screen and (max-width: $screen-xs-max) {
                width: 200px;
            }
        }
    }

    &__content {
        margin-top: 75px;
        font-size: 22px;
        padding: 0 5%;

        @media screen and (max-width: $screen-md-max) {
            font-size: 20px;
        }

        @media screen and (max-width: $screen-sm-max) {
            font-size: 18px;
            margin-top: 50px;
        }

        @media screen and (max-width: $screen-xs-max) {
            padding: 0;
            font-size: 16px;
            margin-top: 35px;
        }


        p {
            margin-bottom: 50px;

            @media screen and (max-width: $screen-sm-max) {
                margin-bottom: 30px;
            }

            @media screen and (max-width: $screen-xs-max) {
                margin-bottom: 25px;
            }
        }
    }

    &__footerImg {
        width: 250px;

        @media screen and (max-width: $screen-sm-max) {
            width: 200px;
        }

        @media screen and (max-width: $screen-xs-max) {
            width: 150px;
        }
    }
}


.outro {
    text-align: center;
    background: $mint;
    overflow: hidden;
    position: relative;
    z-index: 10;

    .contactUs {
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 100%;
        text-align: center;

        span {
            font-size: 16px;
            background: $champagne;
            cursor: pointer;
            padding: 10px 25px 10px 25px;
        }
    }

    .outro-a {
        h4 {
            font-family: $font-display;
            font-size: 38px;
            padding-top: 275px;

            @media screen and (max-width: $screen-md-max) {
                padding-top: 200px;
            }

            @media screen and (max-width: $screen-sm-max) {
                padding-top: 130px;
                font-size: 32px;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 25px;
                padding-top: 90px;
            }

            @media screen and (max-width: $screen-xs-min) {
                font-size: 22px;
                padding-top: 75px;
            }
        }

        .container {
            height: 750px;
            position: relative;

            @media screen and (max-width: $screen-md-max) {
                height: 650px;
            }

            @media screen and (max-width: $screen-sm-max) {
                height: 400px;
            }

            @media screen and (max-width: $screen-sm-max) {
                height: 515px;
            }

            @media screen and (max-width: $screen-xs-min) {
                height: 480px;
            }
        }

        ul {
            margin-top: 150px;
            font-size: 18px;

            @media screen and (max-width: $screen-md-max) {
                margin-top: 125px;
            }

            @media screen and (max-width: $screen-sm-max) {
                margin-top: 75px;
            }

            li {
                @media screen and (max-width: $screen-xs-max) {
                    display: block;
                    margin-bottom: 30px;
                }
            }

            a {
                color: $black;
                text-decoration: underline;
            }
        }


    }

    .arrow1,
    .arrow2 {
        width: 115px;
        position: absolute;
    }

    .arrow1 {
        top:220px;
        right: 570px;

        @media screen and (max-width: $screen-md-max) {
            margin-right: -70px;
            margin-top: -75px;
        }

        @media screen and (max-width: $screen-sm-max) {
            margin-right: -200px;
            margin-top: -125px;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin-right: -350px;
            margin-top: -165px;
        }

        @media screen and (max-width: $screen-xs-min) {
            margin-right: -440px;
            margin-top: -180px;
        }

    }

    .arrow2 {

        top:425px;
        left:595px;

        @media screen and (max-width: $screen-md-max) {
            margin-left: -70px;
            margin-top: -75px;
        }

        @media screen and (max-width: $screen-sm-max) {
            margin-left: -200px;
            margin-top: -185px;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin-left: -375px;
            margin-top: -245px;
        }

        @media screen and (max-width: $screen-xs-min) {
            margin-left: -455px;
            margin-top: -270px;
        }
    }


    .outro-b {
        position: relative;

        h4 {
            font-family: $font-display;
            font-size: 38px;
            background: url(../img/banner-heart.svg) no-repeat center top;
            background-size: 800px;
            margin-bottom: 0;
            padding-bottom: 145px;
            padding-top: 43px;

            @media screen and (max-width: $screen-sm-max) {
                font-size: 32px;
                background-size: 745px;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 25px;
                padding-top: 29px;
                padding-bottom: 100px;
                background-size: 496px;
            }

            @media screen and (max-width: $screen-xs-min) {
                background: url(../img/banner-heart-mobile.svg) no-repeat center top;
                background-size: 320px;
                padding-top: 38px;
                line-height: 1;
                font-size: 20px;
                width: 320px;
                padding-left: 65px;
                padding-right: 65px;
            }

            @media screen and (max-width: $screen-xs-min) {
                padding-bottom: 100px;

                .char23,
                .char24,
                .char25,
                .char26,
                .char27,
                .char28 {
                    transform: none !important;
                    padding-top: 3px;
                }
            }
        }
    }
}

#modal-hotelinfo {
    @media screen and (max-width: $screen-xs-min) {
        ol {
            padding-left: 20px;
        }

        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 16px;
        }
    }
}
